:8443 {
 tls /home/fedora/caddy/certs/example_wildcard_chain.pem /home/fedora/caddy/certs/example_wildcard.key
 root /home/fedora/caddy/publics
 browse /test
}
:8080 {
 root /home/fedora/caddy/public
 browse /test
}
